* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.chartMenu {
    width: 100vw;
    height: 40px;
    background: #1A1A1A;
    color: rgba(54, 162, 235, 1);
}

.chartMenu p {
    padding: 10px;
    font-size: 20px;
}

.chartCard {
    width: 100vw;
    height: calc(100vh - 40px);
    background: rgb(190, 150, 98);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartBox {
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgb(234, 136, 119);
    background: white;
}
